:root {
    --main-color: #17C698;
    --dark-color: #000559;
    --lt-gray: #EBEBF2;
    --dk-gray: #3F4443;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }

  .form {
      padding-bottom: 25px;
  }

  .about {
      padding-top: 15px;
      padding-bottom: 15px;
  }