/* CSS for the food-tips page (food-tips.html) */
:root {
    --main-color: #17C698;
    --dark-color: #000559;
    --lt-gray: #EBEBF2;
    --dk-gray: #3F4443;
}

.fa-bread-slice {
    font-size: 35px;
    color: var(--dark-color);
}

.headline {
    font-weight: bold;
}

/* Andrea's experimental area - will eventually delete */
/* Feel free to comment anything out */





/* End of Andrea's temp experimental area */