/* CSS for the main page (index.html) */


/* Andrea's experimental area - will eventually delete */
/* Sherry, Feel free to comment anything out */
.red {  background-color: red;}
.orange {  border: 2px solid orange;}
.yellow {  border: 2px solid yellow;}
.green {  border: 2px solid green;}
.blue {  border: 2px solid blue;}
.purple {  border: 2px solid purple;}
.indigo {border: 2px solid indigo;}


/* End of Andrea's temp experimental area */