:root {
    --main-color: #17C698;
    --dark-color: #000559;
    --lt-gray: #EBEBF2;
    --dk-gray: #3F4443;
}

.fa-seedling {
    font-size: 40px;
    color: var(--dark-color);
}

.chart {
    background-color: var(--main-color);
}

span {
    color: white;
}

h2 {
    color: var(--dark-color);
    font-weight: bold;
    font-size: 40px;
}

.quote {
    background-color: var(--main-color);
}

.cta-button { 
    color: var(--dark-color);
    background-color: #FFFFFF; 
    border-color: var(--dark-color);
    box-shadow: 0px 2px 2px 0px #888888;
    text-transform: uppercase; 
  } 
   
  .cta-button:hover, 
  .cta-button:focus, 
  .cta-button:active, 
  .cta-button.active, 
  .open .dropdown-toggle.cta-button { 
    color: var(--dark-color); 
    background-color: var(--main-color);
    border-color: var(--dark-color); 
  } 

p {
    font-size: 18px;
}