:root {
    --main-color: #17C698;
    --dark-color: #000559;
    --lt-gray: #EBEBF2;
    --dk-gray: #3F4443;
}

.fa-seedling {
    font-size: 40px;
    color: var(--dark-color);
}

.chart {
    background-color: var(--main-color);
    width: 75%;
}

.source {
    font-size: 12px;
}

span {
    color: white;
}

.stat-number {
    font-style: italic;
}

h2 {
    color: var(--dark-color);
    font-weight: bold;
    font-size: 40px;
}



